@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */

body {
    font-family: "sans-serif";
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.col {
    background-color: aquamarine;
    flex-basis: calc(100% /3 - (15px*2) / 3);
    min-width: 290px;   
    flex-grow: 1;
    min-height: 400px;
}