@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */

body {
    font-family: "sans-serif";
}

.container {
    display: flex;
    padding: 1rem;
    text-align: left;
    flex-direction: column;


    info {
        margin-bottom: 1rem;
    }

    .btn {
        cursor: pointer;
        text-align: end;
    }

}