@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --plans_accent: #6500ff;
    --plans_white: #f5f5f5;
}

button {
    background-color: transparent;
    border: none;
}

body {
    font-family: "sans-serif";
}


/* REGOLE LAYOUT */
.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.col {
    flex-basis: calc(100% /3 - (15px*2) / 3);
    min-width: 290px;
    flex-grow: 1;
    min-height: 400px;
}

/* UTILITIES */
.accent {
    background-color: var(--plans_accent);
    color: var(--plans_white);
}

.text_muted {
    color: grey;
}

.text_sm {
    font-size: 12px;
}

.text_xl {
    font-size: 3rem;
    font-weight: bold;
}

.list_unstyled {
    list-style: none;
}

/* MAIN */
#plans {
    padding: 1rem;

    header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .plans_description {
            margin-bottom: 1rem;
        }

        .togglers {
            flex-grow: 1;
            text-align: end;
        }
    }

    .card {
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px #80808066;
        .card_body {
            text-align: center;
        }
    }
}

.features {
ul {
    line-height: 2rem;
    text-align: left;
}

li > i {
    font-size: 1.25rem;
}

li > span {
    font-size: 14px;
}

}